# TASK -- 3

#Data Manipulation with pandas in Python

In [1]:
# creating data frames using lists
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 22]}
df = pd.DataFrame(data)
print(df)

/home/rgukt/.local/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/rgukt/.local/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22

In [2]:
# from dictionaries
data = {'City': ['New York', 'Los Angeles', 'Chicago'], 'Population': [8.4, 3.9, 2.7]}
df = pd.DataFrame(data)
print(df)

          City  Population
0     New York         8.4
1  Los Angeles         3.9
2      Chicago         2.7

In [4]:
# Accessing and Selecting Data
# Column Selection:
print(df['City'])  # Select the 'Name' column

0       New York
1    Los Angeles
2        Chicago
Name: City, dtype: object

In [5]:
# Row Selection by Index:
print(df.iloc[1])  # Select the second row (index 1)

City          Los Angeles
Population            3.9
Name: 1, dtype: object

In [11]:
# Boolean Indexing:
filtered_df = df[df['Population'] > 3.0]  # Select rows where 'Age' is greater than 25
print(filtered_df)

             Population
City
New York            8.4
Los Angeles         3.9

In [13]:
# Data Transformation
#Adding or Removing Columns:

df['Income'] = [100000, 120000, 85000]  # Add a new column
df.drop('Population', axis=1, inplace=True)   # Remove the 'City' column
print(df)

             Income
City
New York     100000
Los Angeles  120000
Chicago       85000

In [14]:
#Renaming Columns:
df.rename(columns={'Age': 'Years Old'}, inplace=True)
print(df)

             Income
City
New York     100000
Los Angeles  120000
Chicago       85000

In [15]:
# Basic Math Operations (element-wise):
df['Salary'] = df['Income'] * 0.75
print(df)

             Income   Salary
City
New York     100000  75000.0
Los Angeles  120000  90000.0
Chicago       85000  63750.0

In [17]:
# Applying functions
def discount(income):
    return income * 0.9

df['Discounted Income'] = df['Income'].apply(discount)
print(df)

             Income   Salary  Discounted Income
City
New York     100000  75000.0            90000.0
Los Angeles  120000  90000.0           108000.0
Chicago       85000  63750.0            76500.0

In [18]:
# Data Analysis and Aggregation

# Descriptive Statistics:
print(df.describe())  # Summary statistics for numeric columns

              Income        Salary  Discounted Income
count       3.000000      3.000000           3.000000
mean   101666.666667  76250.000000       91500.000000
std     17559.422921  13169.567191       15803.480629
min     85000.000000  63750.000000       76500.000000
25%     92500.000000  69375.000000       83250.000000
50%    100000.000000  75000.000000       90000.000000
75%    110000.000000  82500.000000       99000.000000
max    120000.000000  90000.000000      108000.000000

In [20]:
# Group By
grouped_df = df.groupby('Income').mean()  # Calculate mean for each age group
print(grouped_df)

         Salary  Discounted Income
Income
85000   63750.0            76500.0
100000  75000.0            90000.0
120000  90000.0           108000.0

In [22]:
# Sorting 
sorted_df = df.sort_values(by='Income', ascending=False)  # Sort by 'Income' (descending)
print(sorted_df)

             Income   Salary  Discounted Income
City
Los Angeles  120000  90000.0           108000.0
New York     100000  75000.0            90000.0
Chicago       85000  63750.0            76500.0